development:
  azure:
    client_id: xxxxx
    client_secret: yyyyy
    tenant_id: zzzzz

  amazon:
    client_id: xxxxx
    client_secret: yyyyy
    tenant_id: zzzzz

  vmware_cloud:
    hostname: xxxxx
    port: 1111
    userid: yyyyy
    password: zzzzz

test:
  azure:
    client_id: xxxxx
    client_secret: yyyyy
    tenant_id: zzzzz

  amazon:
    client_id: xxxxx
    client_secret: yyyyy
    tenant_id: zzzzz

  vmware_cloud:
    hostname: xxxxx
    port: 1111
    userid: yyyyy
    password: zzzzz
